body {
	font-family: sans-serif;
}

h1, h2 {
	font-family: 'Linux Libertine', 'Georgia', 'Times', serif;
	font-weight: normal;
}

h1 {
	font-size: 1.8em;
}
h2 {
	font-size: 1.5em;
}
h3 {
	font-size: 1.2em;
}

ol {
	counter-reset: list;
  }
li {
	margin-top: 10px;
	counter-increment: list;
}
li::marker {
	content: counters(list, '.') '. ';
}

.toc {
	width: fit-content;
	padding: 15px;
	border: 1px solid #a2a9b1;
	background-color: #f8f9fa;
	font-size: 95%;
}

.toc > ol {
	padding-left: 1em;
	margin: 0;
}

.toc h2 {
	margin-top: 0;
}
  